In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({"col1":[1,2,3], "col2":[2,3,4]})

In [4]:
df

   col1  col2
0     1     2
1     2     3
2     3     4

In [6]:
df.corr()

      col1  col2
col1   1.0   1.0
col2   1.0   1.0

In [11]:
df.to_numpy()

array([[1, 2],
       [2, 3],
       [3, 4]])